<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input type="text" class="form-control" placeholder="Buscar Usuario">

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor ...</span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Usuarios Registrados (<small>158</small>)</h3>

                <div class="table-responsive">
                    <table class="table full-color-table full-muted-table hover-table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Descripción</th>
                                <th>Profesión</th>
                                <th>Notificaciones</th>
                                <th>Terminos</th>
                                <th>Role</th>
                                <th>Estado</th>
                                <th>Acción</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hola</td>
                                <td>Nigam</td>
                                <td>Eichmann</td>
                                <td>@Sonu</td>
                                <td>@Sonu</td>
                                <td>@Sonu</td>
                                <td>@Sonu</td>
                                <td>@Sonu</td>
                                <td>@Sonu</td>
                                <td>@Sonu</td>
                                <td>@Sonu</td>
                                <td>
                                    <span tooltip="Guardar" placement="top">
                                      <button class="btn btn-success">
                                        <i class="fa fa-save"></i>
                                      </button>
                                    </span> &nbsp;

                                    <span tooltip="Eliminar" placement="top">
                                        <button class="btn btn-danger">
                                          <i class="fa fa-trash-o"></i>
                                        </button>
                                    </span>



                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <span tooltip="Anterior" placement="top">
                      <button class="btn btn-secondary">
                        <i class="fa fa-backward"></i>
                      </button>
                    </span> &nbsp;

                    <span tooltip="Siguiente" placement="top">
                        <button class="btn btn-secondary">
                            <i class="fa fa-forward"></i>
                        </button>
                    </span>





                </div>
            </div>

        </div>
    </div>
</div>