<div class="col-md-12" align="right">
    <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
        <span tooltip="Nuevo Usuario" placement="top"><button type="button" (click)="nuevoUsuario()" target="_blank" class="btn btn-secondary font-18">Añadir Usuario</button></span>&nbsp;
    </div>

    <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown" *ngIf="totalRegistros > 0">
        <span tooltip="Excel" placement="top"><a [href]="URL_DOWNLOAD_EXCEL" target="_blank" class="btn btn-secondary font-18"><img src="assets/images/icon/icon-excel.png" width="18px" /></a></span>&nbsp;
        <span tooltip="PDF" placement="top"><a [href]="URL_DOWNLOAD_PDF" target="_blank"  class="btn btn-secondary font-18"><img src="assets/images/icon/icon-pdf.png" width="18px" /></a></span>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="bsucarUsuario(input.value)" type="text" class="form-control" placeholder="Buscar Usuario">

            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor ...</span>
        </div>
    </div>
</div>


<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Usuarios Registrados (<small>{{totalRegistros}}</small>)</h3>

                <div class="table-responsive">
                    <table class="table full-color-table full-muted-table hover-table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Notificaciones</th>
                                <th>Terminos</th>
                                <th>Role</th>
                                <th>Estado</th>
                                <th>Acción</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="w70"><img (click)="mostrarModal(usuario.id)" [src]="usuario.imagen | imagenUser" class="img50 img-circle pointer"></td>
                                <td><input [(ngModel)]="usuario.email" type="email" name="email" class="form-control form-control-line"></td>
                                <td><input [(ngModel)]="usuario.nombre" type="text" name="nombre" class="form-control form-control-line"></td>
                                <td><input [(ngModel)]="usuario.direccion" type="text" name="direccion" class="form-control form-control-line"></td>
                                <td><input [(ngModel)]="usuario.telefono" type="number" name="telefono" class="form-control form-control-line"></td>
                                <td align="center">
                                    <div class="switch">
                                        <label><input [(ngModel)]="usuario.notificaciones" name="notificaciones" type="checkbox"><span class="lever switch-col-teal"></span></label>
                                    </div>
                                </td>
                                <td align="center">
                                    <div class="switch">
                                        <label><input [(ngModel)]="usuario.terminos" name="terminos" type="checkbox"><span class="lever switch-col-teal"></span></label>
                                    </div>
                                </td>
                                <td>
                                    <select [(ngModel)]="usuario.role" name="role" class="form-control">
                                        <option value="ADMIN_ROLE">Administrador</option>
                                        <option value="USER_ROLE">Usuario</option>
                                    </select>
                                </td>

                                <td>
                                    <select [(ngModel)]="usuario.estado" name="estado" class="form-control">
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                </td>
                                <td>
                                    <span tooltip="Guardar" placement="top">
                                      <button class="btn btn-success" (click)="guardarUsuario(usuario)">
                                        <i class="fa fa-save"></i>
                                      </button>
                                    </span> &nbsp;

                                    <span tooltip="Eliminar" placement="top">
                                        <button class="btn btn-danger" (click)="borrarUsuario(usuario)">
                                          <i class="fa fa-trash-o"></i>
                                        </button>
                                    </span>



                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <span tooltip="Anterior" placement="top">
                      <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                        <i class="fa fa-backward"></i>
                      </button>
                    </span> &nbsp;

                    <span tooltip="Siguiente" placement="top">
                        <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                            <i class="fa fa-forward"></i>
                        </button>
                    </span>

                </div>
            </div>

        </div>
    </div>
</div>