<div class="col-md-12" align="right">
    <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
        <span tooltip="Nuevo Proceso" placement="top"><button type="button" (click)="nuevoProceso()" target="_blank" class="btn btn-secondary font-18">Añadir Proceso</button></span>&nbsp;
    </div>

    <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown" *ngIf="totalRegistros > 0">
        <span tooltip="Excel" placement="top"><a [href]="URL_DOWNLOAD_EXCEL" target="_blank" class="btn btn-secondary font-18"><img src="assets/images/icon/icon-excel.png" width="18px" /></a></span>&nbsp;
        <span tooltip="PDF" placement="top"><a [href]="URL_DOWNLOAD_PDF" target="_blank"  class="btn btn-secondary font-18"><img src="assets/images/icon/icon-pdf.png" width="18px" /></a></span>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarProceso(input.value)" type="text" class="form-control" placeholder="Buscar Proceso">

            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor ...</span>
        </div>
    </div>
</div>


<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Procesos Registrados (<small>{{totalRegistros}}</small>)</h3>

                <div class="table-responsive">
                    <table class="table full-color-table full-muted-table hover-table">
                        <thead>
                            <tr>

                                <th>Ciudad</th>
                                <th>Tipo Proceso</th>
                                <th>Juzgado</th>
                                <th>Usuario</th>
                                <th>Demandante</th>
                                <th>Demandado</th>
                                <th>Radicado</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proceso of procesos">

                                <td>
                                    <select [(ngModel)]="proceso.ciudad" name="ciudad" class="form-control">
                                        <option *ngFor="let ciudad of ciudades" value="{{ciudad.id}}" >{{ciudad.nombre}}</option>
                                    </select>
                                </td>

                                <td>
                                    <select [(ngModel)]="proceso.tipo" name="tipo" class="form-control">
                                        <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.nombre}}</option>
                                    </select>
                                </td>

                                <td>
                                    <select [(ngModel)]="proceso.juzgado" name="juzgado" class="form-control" [disabled]="selectJuzgado">
                                        <option *ngFor="let juzgado of juzgados" value="{{juzgado.id}}">{{juzgado.nombre}}</option>
                                    </select>
                                </td>
                                <td>
                                    {{proceso.user}}
                                </td>
                                <td><input [(ngModel)]="proceso.demandante" type="text" name="demandante" class="form-control form-control-line"></td>
                                <td><input [(ngModel)]="proceso.demandado" type="text" name="demandado" class="form-control form-control-line"></td>
                                <td><input [(ngModel)]="proceso.radicado" type="text" name="radicado" class="form-control form-control-line"></td>
                                <td><input [(ngModel)]="proceso.fecha" type="date" name="fecha" class="form-control form-control-line"></td>

                                <td>
                                    <select [(ngModel)]="proceso.estado" name="estado" class="form-control">
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                        <option value="TERMINADO">TERMINADO</option>
                                    </select>
                                </td>
                                <td>
                                    <span tooltip="Guardar" placement="top">
                                <button class="btn btn-success" (click)="guardarProceso(proceso)">
                                  <i class="fa fa-save"></i>
                                </button>
                              </span> &nbsp;

                                    <span tooltip="Eliminar" placement="top">
                                  <button class="btn btn-danger" (click)="borrarProceso(proceso)">
                                    <i class="fa fa-trash-o"></i>
                                  </button>
                              </span>

                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <span tooltip="Anterior" placement="top">
                <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                  <i class="fa fa-backward"></i>
                </button>
              </span> &nbsp;

                    <span tooltip="Siguiente" placement="top">
                  <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                      <i class="fa fa-forward"></i>
                  </button>
              </span>

                </div>
            </div>

        </div>
    </div>
</div>