<div class="card-body">
    <h4 class="card-title">Por Juzgado</h4>
    <p class="card-text">Conoce cuantos procesos tienes registrados por Juzgado.</p>
    <a routerLink="/porJuzgado" class="btn btn-info">Ver Informe</a>
</div>

<hr>

<div class="card-body">
    <h4 class="card-title">Por Tipo</h4>
    <p class="card-text">Conoce cuantos procesos tienes registrados por Tipo.</p>
    <a routerLink="/porTipo" class="btn btn-info">Ver Informe</a>
</div>

<hr>

<div class="card-body">
    <h4 class="card-title">Por Ciudad</h4>
    <p class="card-text">Conoce cuantos procesos tienes registrados por Ciudad.</p>
    <a routerLink="/porCiudad" class="btn btn-info">Ver Informe</a>
</div>

<hr>

<div class="card-body">
    <h4 class="card-title">Por Estado</h4>
    <p class="card-text">Conoce cuantos procesos tienes registrados por Estado.</p>
    <a routerLink="/porEstado" class="btn btn-info">Ver Informe</a>
</div>