<div class="col-md-12" align="right">
    <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
        <span tooltip="Nuevo Proceso" placement="top"><button type="button" (click)="nuevoProceso()" target="_blank" class="btn btn-secondary font-18">Añadir Proceso</button></span>&nbsp;
    </div>

    <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown" *ngIf="totalRegistros > 0">
        <span tooltip="Excel" placement="top"><a [href]="URL_DOWNLOAD_EXCEL" target="_blank" class="btn btn-secondary font-18"><img src="assets/images/icon/icon-excel.png" width="18px" /></a></span>&nbsp;
        <span tooltip="PDF" placement="top"><a [href]="URL_DOWNLOAD_PDF" target="_blank"  class="btn btn-secondary font-18"><img src="assets/images/icon/icon-pdf.png" width="18px" /></a></span>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <input #input (keyup)="buscarProceso(input.value)" type="text" class="form-control" placeholder="Buscar Proceso">
        </div>
    </div>
</div>

<div class="col-sm-12" *ngIf="cargando">
    <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor ...</span>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Procesos Registrados (<small>{{procesoService.cantidadProcesos}}</small>)</h3>

                <div class="table-responsive">
                    <table class="table full-color-table full-muted-table hover-table">
                        <thead>
                            <tr>
                                <th>Radicado</th>
                                <th>Demandante</th>
                                <th>Demandado</th>
                                <th>Juzgado</th>
                                <th>Tipo</th>
                                <th>Último Estado</th>
                                <th>Fecha</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proceso of procesos">
                                <tr *ngFor="let proceso of procesos">
                                    <td>{{proceso.radicado}}</td>
                                    <td>{{proceso.demandante}}</td>
                                    <td>{{proceso.demandado}}</td>
                                    <td>{{proceso.juzgado}}</td>
                                    <td>{{proceso.tipo}}</td>
                                    <td *ngIf="proceso.historico">{{proceso.historico | split:"*":0}}
                                        <small class="text-info">[{{proceso.historico | split:"*":2}}]</small>
                                    </td>
                                    <td *ngIf="!proceso.historico"> - - -</td>

                                    <td>{{proceso.fecha}}</td>

                                    <td>
                                        <span tooltip="Detalle" placement="top">
                                                <a class="btn btn-success" [routerLink]="['/proceso/detalle', proceso.id]">
                                                    <i class="fa fa-info"></i>
                                                </a>
                                            </span> &nbsp;

                                        <span tooltip="Eliminar" placement="top">
                                                <button type="button" class="btn btn-danger" (click)="eliminar(proceso.id)">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </span>
                                    </td>
                                </tr>
                        </tbody>
                    </table>

                    <span tooltip="Anterior" placement="top">
                        <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                            <i class="fa fa-backward"></i>
                        </button>
                    </span> &nbsp;

                    <span tooltip="Siguiente" placement="top">
                        <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                            <i class="fa fa-forward"></i>
                        </button>
                    </span>

                </div>
            </div>

        </div>
    </div>