<div class="fondo-negro animated bounceInDown" [ngClass]="modalNuevoCiudadService.oculto">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nueva Ciudad</h5>
                    <button type="button" class="close" (click)="cerrarModal()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>
</div>